# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test
node_modules
coverage

# dependencies
/.pnp
.pnp.js

# production
/build

# misc
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# MacOS cruft
.DS_Store

# VIM cruft
*.swo
*.swp
