/**
 *  Customise appearance of table borders.
 *
**/
.react-grid-Main, .react-grid-Grid {
  outline   : none;
  border    : none;
}

/**
 *  Customise appearance of table scrollbars.
 *
**/
.react-grid-Canvas {
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}
/**
 *  Customise appearance of text in editor and header cells.
 *
**/
.react-grid-HeaderRow {
  font      : 0.85rem/1.0rem SansBold, sans-serif;
  height    : 64px;
}

.react-grid-Cell__value {
  font      : 0.85rem/1.0rem SansRegular, sans-serif;
}

/**
 *  Customise appearance of cell which has current focus.
 *
**/
.rdg-selected {
  border    : none;
  /* background-color: #7FFF0044; */
  background-color: #ffc10744;
}

/**
 *  Customise appearance of cell being actively edited.
 *  n.b. the default results cell width is 48px, so here we do a little hack to
 *  force the editor text to indent slightly
**/

.rdg-editor-container {
  position  : absolute !important;
}

.rdg-editor-container input.editor-main, select.editor-main {
  position  : absolute !important;
  width     : 54px;

  padding   : 0 0 0 8px;

  font      : 0.85rem/1.0rem SansBold, sans-serif;
  color     : red;

  border    : none;
  outline   : 1px solid red;
}
